
{% set posts = craft.entries()
  .section('blogs')
  .orderBy('postDate DESC')
  .limit(3)
  .all()
%}


<section class = "events:auto bg-color:lightwhite pd-y:c3">

    <div class = "contain col gap:d4 /lg/ grid:gap-d8:rows-1:cols-3-fr h:auto">

        <a class = "ctx:editorialColumn1 mg-b:d12" href="{{ posts[0].url }}">
        <div class = "/lg/ h:auto col-spans:from-1:to-2 ctx:end">
            
            <div class = "w:full aspect:square" style = "background-image:url('{{ posts[0].previewImage.one().url }}');background-size:cover;background-position:center">
            </div>

            <h2 class = "text:left:spacious:darkgrey font:fancy:h5:bold mg-b:d4 mg-t:d8">{{ posts[0].title }}</h2>

            <p class = "text:left:spacious:grey font:regular:sans:h6">
            {{ posts[0].description }}
        </div>
        </a>



        <a class = "ctx:editorialColumn2 mg-b:d12" href="{{ posts[1].url }}">
        <div class = "/lg/ h:auto col-spans:from-2:to-3 col ctx:end">

            <div class = "w:full aspect:square" style = "background-image:url('{{ posts[1].previewImage.one().url }}');background-size:cover;background-position:center">
            </div>

            <h2 class = "text:left:spacious:darkgrey font:fancy:h5:bold mg-b:d4 mg-t:d8">{{ posts[1].title }}</h2>

            <p class = "text:left:spacious:grey font:regular:sans:h6">
            {{ posts[1].description }}
            </p>


        </div>
        </a>

        
        <a class = "ctx:editorialColumn3 mg-b:d12" href="{{ posts[2].url }}">
        <div class = "/lg/ h:auto col-spans:from-3:to-4 col ctx:end"> 


            <div class = "w:full aspect:square" style = "background-image:url('{{ posts[2].previewImage.one().url }}');background-size:cover;background-position:center">
            </div>

            <h2 class = "text:left:spacious:darkgrey font:fancy:h5:bold mg-b:d4 mg-t:d8">{{ posts[2].title }}</h2>

            <p class = "text:left:spacious:grey font:regular:sans:h6">
            {{ posts[2].description }}
            </p>


        </div>
        </a>

    </div>

</section>  