<section class = "ctx:blogsColumn events:auto">

    <div class = "contain col h:auto /lg/ row">


       <div>
        <h2 class = "sticky top:d6 font:fancy:h3:bold text:darkgrey:relaxed"><span class = "font:fancy:h3:bold text:lightgrey">My Journals</span><br>The Latest From Poured Out Art</h2>
       </div>

        <div class = "col w:full /lg/ pd-l:c1 bd-l:solid:width-d0:ultrawhite"> 

            {% paginate craft.entries()
              .section('blogs')
              .orderBy('postDate DESC')
              .offset(3)
              .limit(4)
              as pageInfo, pageEntries %}

            {% for post in pageEntries %}
                <div class = "col-r:y-center pd-y:d10 /lg/ row:y-center h:auto">

 
                    <div>
                        <h2 class = "text:left:spacious:darkgrey:brief font:fancy:h5:bold mg-b:d4 mg-t:d8">{{ post.title }}</h2>

                        <p class = "text:left:spacious:grey:brief font:regular:sans:h6">
                        {{ post.description }}
                        </p>
                        <div class = "mg-t:d10">
                        <a href = "{{ post.url }}" class = "w:full row:y-center transition:ease text:left:spacious:gold:brief font:semibold:sans:h6 @hover:[text:darkgrey_pd-l:d3]">Read More <i class="fa-solid fa-arrow-right-long mg-l:d4"></i></a>
                        </div>
                    </div>

                    {% set preview = post.previewImage.one() %}
                    {% if preview %}
                        <div class = "-shadowimg child:grow aspect:landscape bd:round-d2 /lg/ mg-l:d12" style = "background-image:url('{{ preview.url }}');background-size:cover;background-position:center">
                        </div>
                    {% else %}
                        <div class = "-shadowimg child:grow aspect:landscape bd:round-d2 /lg/ mg-l:d12">
                        </div>
                    {% endif %}

                </div> 
            {% endfor %}

            {% if pageInfo.totalPages > 1 %}
                <div class = "row:x-center gap:c2 mg-t:d8 ctx:end">
                    {% for pageNum in 1..pageInfo.totalPages %}
                        {% if pageNum == pageInfo.currentPage %}
                            <span>{{ pageNum }}</span>
                        {% else %}
                            <a href = "{{ pageInfo.getPageUrl(pageNum) }}">{{ pageNum }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        </div>



    </div>

</section>
