 <div class="events:auto pd-y:c3 bg-color:ultrawhite">
 
  <div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides bd:round-d2">


        <li class="glide__slide relative -shadowimg overflow:visible bd:round-d2">
        <div class ="h:s1 /lg/ h:s7 w:auto row:x-center:y-center bd:round-d2" style = "background-image:url('{{block.firstImage.one().url}}');background-size:cover;background-position:center"></div>
          
          <div class = "-circle absolute min-h:d8 min-w:d8 row:x-center:y-center bd:width-d0:solid:lightwhite pd:d4 /lg/ min-h:c6 min-w:c6">
            <div class = "-circle min-h:d8 min-w:d8 row:x-center:y-center bd:width-d0:solid:lightwhite pd:d4 /lg/ min-h:c6 min-w:c6">
              <div class = "-circle pd:d0 font:h6 bg-color:lightwhite text:grey h:d8 w:d8 row:x-center:y-center @hover:[text:white_bg-color:black_pd:d6] transition:slow /lg/ font:h4 bg-color:lightwhite text:grey h:c6 w:c6">
                ➔  
              </div> 
            </div> 
          </div>    
 
        </li>
 

        <li class="glide__slide -shadowimg overflow:visible bd:round-d2"><div class ="-goldenFour h:s1 /lg/ h:s7 w:auto row:x-center:y-center bd:round-d2" style = "background-image:url('{{block.secondImage.one().url}}');background-size:cover;background-position:center"></div></li>
        <li class="glide__slide -shadowimg overflow:visible bd:round-d2"><div class ="-goldenFour h:s1 /lg/ h:s7 w:auto row:x-center:y-center bd:round-d2" style = "background-image:url('{{block.thirdImage.one().url}}');background-size:cover;background-position:center"></div></li>
        <li class="glide__slide -shadowimg overflow:visible bd:round-d2"><div class ="-goldenFour h:s1 /lg/ h:s7 w:auto row:x-center:y-center bd:round-d2" style = "background-image:url('{{block.fourthImage.one().url}}');background-size:cover;background-position:center"></div></li>
        <li class="glide__slide -shadowimg overflow:visible bd:round-d2"><div class ="-goldenFour h:s1 /lg/ h:s7 w:auto row:x-center:y-center bd:round-d2" style = "background-image:url('{{block.fifthImage.one().url}}');background-size:cover;background-position:center"></div></li>
      </ul>
    </div>

  
 
  </div>
</div> 




    {# <div class = "contain mg-t:d6" data-glide-el="controls">
      <button data-glide-dir="<">Previous</button>
      <button data-glide-dir=">">Next</button>
    </div> #}