{% set globalContent = craft.app.globals.getSetByHandle('globalContent') %}


<header class="ctx:navigationHero events:auto -shadowimg2">

 

    <div class = "contain pd-t:c8 z:1 absolute top:0 w:full">


        <nav class = "hidden w:full bd-t:solid:width-d0:gold50 bd-b:solid:width-d0:gold50 pd-y:d7 /lg/ row:y-center:x-between">   
            <div class = "row:y-center gap:c2">
                <a href = "/" class = "font:h4:fancy:bold text:white">Poured Out</a>
                <p class = "text:lightgrey font:sans">The Art Of<br>Jessica Ellington</p>
            </div>

            <div class = "row:y-center gap:c2 text:white font:sans:semibold">
                <a href = "{{globalContent.shop}}">Shop</a>
                <p>|</p>
                <a href = "{{globalContent.about}}">About</a>
                <a href = "{{globalContent.gallery}}">Gallery</a>
                <a href = "{{globalContent.blogs}}">Blog</a> 
                <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-facebook"></i></p>
                <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-instagram ctx:end"></i></p>
            </div>
        </nav> 



        <div id = "openMenu" class = "ctx:mobileButton events:auto visible z:1000 absolute top:0 right:0 bd:roundbl-s6 w:c1 h:c3 row:x-center:y-center pd-l:d3 /lg/ invisible ctx:end"> 
            <i id = "openButton" class="fa-solid fa-bars text:white"></i> 



            <div id = "menuSplash" class = "w:full h:full"> 


                <div id = "mobileLinks" class = "hidden w:full h:full col:y-center:x-center">
                    <canvas class = "-navfluid top:0 z:1 w:full h:full absolute">
                    </canvas>
                    <div class = "z:10000 relative w:full h:full col:y-center:x-center gap:d10">
                        <i id = "closeButton" class="events:auto absolute top:0 right:0 fa-solid fa-xmark text:white mg:d4"></i> 
                        <a href = "/" class = "text:white font:sans:semibold:h5">Home</a>
                        <a href = "{{globalContent.shop}}" class = "text:white font:sans:semibold:h5">Shop</a>
                        <a href = "{{globalContent.about}}" class = "text:white font:sans:semibold:h5">About</a>
                        <a href = "{{globalContent.gallery}}" class = "text:white font:sans:semibold:h5">Gallery</a> 
                        <a href = "{{globalContent.blogs}}" class = "text:white font:sans:semibold:h5">Blog</a>
            
                    </div>
                </div>
            </div>

        </div>





    </div>    
 


 

    <div class="relative z:0 w:full h:s5 bg-attr:no-repeat:cover:center row:x-center:y-center /lg/ h:s8"> 
      
        
        <canvas class="-fluid top:0 z:2 w:full h:full ">
        </canvas>
 
        <div class = "absolute z:5 w:full h:full row:x-center:y-center pd:c2">
            <div class = "w:full h:full col:x-center:y-center"> 
                <h1 class="-shadowtext font:fancy:thin:h5 text:white:relaxed:center:blob z:3 /lg/ font:h3">
                    {{block.heading}}
                </h1>

                 <h2 class="-shadowtext font:fancy:bold:base text:white:hug:center mg-t:d8 z:3 /lg/ font:h6">
                  {{block.subheading}}
                </h2>
                
            </div>  
        </div>
        
    </div>

 


</header>
