{% set globalContent = craft.app.globals.getSetByHandle('globalContent') %}



<div class = "contain events:auto">


    <nav class = "ctx:navigationDesk hidden w:full bd-t:solid:width-d0:gold50 bd-b:solid:width-d0:gold50 pd-y:d7 /lg/ row:y-center:x-between">   
        <div class = "row:y-center gap:c2">
            <a href = "/" class = "font:h4:fancy:bold text:black">Poured Out</a>
            <p class = "text:lightgrey font:sans">The Art Of<br>Jessica Ellington</p>
        </div>

        <div class = "row:y-center gap:c2">
                <a class = "text:black font:sans:semibold transition:ease @hover:[text:gold50]" href = "{{globalContent.shop}}">Shop</a>
                <p class = "text:gold50">|</p>
                <a class = "text:black font:sans:semibold transition:ease @hover:[text:gold50]"  href = "{{globalContent.about}}">About</a>
                <a class = "text:black font:sans:semibold transition:ease @hover:[text:gold50]" href = "{{globalContent.gallery}}">Gallery</a>
                <a class = "text:black font:sans:semibold transition:ease @hover:[text:gold50]" href = "{{globalContent.blogs}}">Journals</a> 
                <a href = "{{globalContent.facebook}}" class = "text:gold50 font:h5"><i class="fa-brands fa-square-facebook"></i></a>
                <a href = "{{globalContent.instagram}}" class = "text:gold50 font:h5"><i class="fa-brands fa-square-instagram ctx:end"></i></a>
            </div>
    </nav> 


 
    <div id = "openMenu" class = "ctx:mobileButton events:auto visible z:1000 absolute top:0 right:0 bd:roundbl-s6 w:c1 h:c3 row:x-center:y-center pd-l:d3 /lg/ invisible ctx:end"> 
        <i id = "openButton" class="fa-solid fa-bars text:white"></i> 



        <div id = "menuSplash" class = "w:full h:full">  


            <div id = "mobileLinks" class = "hidden w:full h:full col:y-center:x-center">
                <canvas class = "-navfluid top:0 z:1 w:full h:full absolute">
                </canvas>
                <div class = "contain z:10000 relative w:full h:full col:y-center:x-center">
                    <i id = "closeButton" class="events:auto absolute top:0 right:0 fa-solid fa-xmark text:white mg:d4"></i> 

                    <div class = "col:x-start w:full mg-b:d8">
                        <a href = "/" class = "font:h3:fancy:bold text:white mg-b:d4">Poured Out</a>
                        <p class = "text:white75OP font:sans:h6">The Art Of Jessica Ellington</p>
                    </div>


                     {% set current = craft.app.request.pathInfo|trim('/') %}

                     <a href="/"
                    style="{{ current == '' ? 'color:white !important' : '' }}" class = "text:white75OP font:sans:medium:h6 pd-y:d8 w:full bd-b:solid:width-d0:white50OP">
                    
                    Homepage
                    {% if current == '' %}<i class="pd-l:d6 fa-solid fa-minus"></i>{% endif %}
                    </a>
                    
                    
                    <a href = "{{globalContent.shop}}" class = "text:white75OP font:sans:medium:h6 pd-y:d8 w:full bd-b:solid:width-d0:white50OP">
                    
                    The Shop
                    
                    </a>
                    
                    <a href="{{ globalContent.about }}"
                    style="{{ current == 'about' ? 'color:white !important' : '' }}" class = "text:white75OP font:sans:medium:h6 pd-y:d8 w:full bd-b:solid:width-d0:white50OP">
                    
                    About Me
                    {% if current == 'about' %}<i class="pd-l:d6 fa-solid fa-minus"></i>{% endif %}
                    </a>
                    
                    <a href="{{ globalContent.gallery }}"
                    style="{{ current == 'the-gallery' ? 'color:white !important' : '' }}" class = "text:white75OP font:sans:medium:h6 pd-y:d8 w:full bd-b:solid:width-d0:white50OP">
                    
                    The Gallery
                    {% if current == 'the-gallery' %}<i class=" pd-l:d6 fa-solid fa-minus"></i>{% endif %}
                    </a>
                    
                    <a href="{{ globalContent.blogs }}"
                    style="{{ current == 'blogs' ? 'color:white !important' : '' }}" class = "text:white75OP font:sans:medium:h6 pd-y:d8 w:full">
                    
                    My Journal 
                    {% if current == 'blogs' %}<i class="pd-l:d6 fa-solid fa-minus"></i>{% endif %}
                    </a>

                


                    </div>
            </div>
        </div>

    </div>

{# <div class = "ctx:mobileButton events:auto visible z:1000 absolute top:0 right:0 w:wScreen h:hScreen bg-color:white row:x-center:y-center /lg/ invisible ctx:end"></div> #}



</div>    
